body {
  background: #4568dc;
  background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
  background: linear-gradient(to right, #b06ab3, #4568dc);
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}

#container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#text {
  color: white;
  font-size: 48px;
  font-family: cursive;
  font-weight: 700;
  margin: 0;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#boyfriend,
#husband {
  color: rgb(243, 62, 62);
  font-size: 30px;
  font-family: cursive;
  font-weight: 700;
  border-radius: 20px;
  border: none;
  border: 4px dashed rgb(252, 117, 209);
  height: 55px;
  width: 250px;
  background-color: #fbb8fd;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

#boyfriend:hover,
#husband:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

#boyfriend:active,
#husband:active {
  transform: translateY(1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
