body {
  background: #4568dc;
  background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
  background: linear-gradient(to right, #b06ab3, #4568dc);
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}

#container {
  display: grid;
  place-items: center;
  text-align: center;
}

#text {
  color: white;
  font-size: 48px;
  font-family: cursive;
  font-weight: 700;
  margin-bottom: 20px; /* Add margin for better spacing */
}

#buttons {
  display: flex;
  gap: 50px;
}

#button {
  color: rgb(243, 62, 62);
  font-size: 30px;
  font-family: cursive;
  font-weight: 700;
  border-radius: 20px;
  border: none;
  border: 4px dashed rgb(252, 117, 209);
  height: 55px;
  width: 250px;
  background-color: #fbb8fd;
  cursor: pointer; /* Add cursor pointer */
  transition: transform 0.2s, box-shadow 0.2s; /* Add transition for smooth hover effects */
}

#button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

#button:active {
  transform: translateY(1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#gif img {
  margin-bottom: 20px;
  width: 330px;
  height: 400px;
  border: 4px dashed white;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Adds shadow */
}
